/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik', sans-serif; */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 30px 0;
}

.headerTitle {
  font-size: 22px;
  color: white;
  font-family: "Playfair Display", serif;
}

/* NAVIGATION */

.nav {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin-right: 80px;
}

.nav_link {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.1s linear;
}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link:hover {
  color: white;
  opacity: 1;
}

/* <!-- Breadcrumb --> */

.breadcrumb {
  display: flex;
  height: 100%;
  padding-top: 75px;
  font-family: "Noto Serif", serif;
  font-weight: 900;
}

.text__decoration {
  color: rgb(12, 233, 233);
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.1s linear;
}

.text__decoration:hover {
  color: rgb(12, 233, 233);
  opacity: 1;
}

/* <!-- ARTICLES --> */

.articles {
  padding-bottom: 70px;
  color: white;
}

#first,
#second,
#third {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  padding-top: 20px;
  /* padding-left: 30px; */
}

.article__nav_link {
  /* padding-bottom: 40px; */
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", serif;
  opacity: 0.6;
  transition: opacity 0.1s linear;
  font-weight: 900;
  font-size: 22px;
}

.article__nav_link:hover {
  color: white;
  opacity: 1;
}

/* FOOTER */

.footer {
  border-top: 1px solid white;
  position: relative;
}

.footer__text {
  font-size: 12px;
  padding-block: 10px;
  margin-inline-start: 70px;
  max-width: 50%;
  position: absolute;
}
