html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: black;
}

p {
  margin: 0 0 10px;
}

/* ======== CONTAINER  ======== */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* ======== HEADER ======== */

.navbar-brand {
  font-family: "Playfair Display", serif;
}
.navbar {
  color: white;
  border-bottom: 1px white solid;
}

.navbar-collapse {
  flex-grow: 0;
}

.disabled {
  pointer-events: none;
  text-decoration: none;
}

/* ======== BREADCRUMB ======== */

.breadcrumb {
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
.previous-page {
  text-decoration: none;
  color: #fff;
}

/* ======== CAROUSEL ======== */

.carousel {
  margin: 0 auto;
  width: 100%;
  align-self: center;
  padding-bottom: 50px;
}
#two {
  color: black;
}
/* ======== ARTICLES ======== */

.articles {
  padding-bottom: 20px;
  padding-left: 30px;
  width: 100%;
}
.col-sm {
  padding-bottom: 20px;
}
.box {
  padding: 20px;
  border: solid 1px white;
  align-items: center;
}

.article-photo {
  width: 100%;
}

/* === TEXT ARTICLES === */

.article-nav-link {
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.1s linear;
  margin-bottom: 20px;
  font-size: 15px;
}

.article-nav-link:hover {
  opacity: 1;
}
.articles-text {
  font-size: 12px;
  padding-top: 8px;
}

/* ======== FOOTER ======== */

.footer {
  border-top: 1px solid white;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.footer-text {
  font-size: 12px;
  margin-inline-start: 10px;
}
